<div class="container-fluid">
  <div class="nk-content-inner">
    <div class="nk-content-body">
      <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between">
          <div class="nk-block-head-content">
            <h3 class="nk-block-title page-title">Secteurs List</h3>
            <div class="nk-block-des text-soft">
              <p>You have total {{ secteurs.length }} secteurs.</p>
            </div>
          </div><!-- .nk-block-head-content -->
          <div class="nk-block-head-content">
            <div class="toggle-wrap nk-block-tools-toggle">
              <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu"><em class="icon ni ni-menu-alt-r"></em></a>
              <div class="toggle-expand-content" data-content="pageMenu">
                <ul class="nk-block-tools g-3">
                  <li><a href="#" class="btn btn-white btn-outline-light"><em class="icon ni ni-download-cloud"></em><span>Export</span></a></li>
                  <li class="nk-block-tools-opt">
                    <div class="drodown">
                      <a href="#" class="dropdown-toggle btn btn-icon btn-primary" data-bs-toggle="dropdown"><em class="icon ni ni-plus"></em></a>
                      <div class="dropdown-menu dropdown-menu-end">
                        <ul class="link-list-opt no-bdr">
                          <li><a routerLink="/newsecteur"><span>Ajouter Secteur</span></a></li>
                          <li><a routerLink="/secteurs/:id/edit"><span>Editer Secteur</span></a></li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div><!-- .toggle-wrap -->
          </div><!-- .nk-block-head-content -->
        </div><!-- .nk-block-between -->
      </div><!-- .nk-block-head -->

      <div class="container">
        <div class="row">
          <div class="col-md-4" *ngFor="let secteur of secteurs">
            <div class="gallery card card-bordered">
              <a class="gallery-image popup-image" [href]="secteur.image">
                <img class="w-100 rounded-top" [src]="secteur.image" alt="{{ secteur.nom }}">
              </a>
              <div class="gallery-body card-inner align-center justify-between flex-wrap g-2">
                <div class="user-card">
                  <div class="user-avatar">
                    <img *ngIf="secteur.chefPoleId" [src]="secteur.chefPoleId" alt="Photo du Chef de Pôle">
                  </div>
                  <div class="user-info">
                    <span class="lead-text">{{ secteur.nom }}</span>
                    <span class="sub-text">{{ secteur.desc }}</span>
                  </div>
                </div>
                <div>
                  <button class="btn btn-p-0 btn-nofocus"><em class="icon ni ni-heart"></em><span>34</span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
